aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.logo{
  padding: 0px 15px;
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
}